{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}aoli-css/guanyu.css">

    <div class="zj1-bigbox">
        <div class="zj1-box">
            <div class="zj1-one">
                <div class="zj1-two">
                    <div class="zj1-two-1">关于我们 &nbsp;&nbsp;&nbsp;&nbsp;About</div>

                    <div class="zj1-two-2"><img src="{IMG_PATH}aoli-img/1/zj1-3.png">
                        <div class="zj1-two-3"><a href="{APP_PATH}/index.php?m=content&c=index&a=show&catid=16&id=15">公司业务</a></div>
                    </div>

                </div>
                <div class="zj1-three">
                    <div class="zj1-three-1"><img src="{IMG_PATH}aoli-img/1/zj1-4.png"></div>
                    <div class="zj1-three-2" style="margin-top:10px">2015/8/26<br/><a href="">法治中国文化艺术研究院在西安</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">服务器维护通知</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">2015年春节放假通知</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">2014中国移动校园活动优秀</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">中国移动校园活动现场</a></div>
                </div>
                <div class="zj1-four">
                    <div class="zj1-four-1"><img src="{IMG_PATH}aoli-img/1/zj1-5.png"></div>
                    <div class="zj1-four-2"><input type="text" value="请输入关键词"><span><a href="">搜索</a></span></div>
                </div>
            </div>

            <div class="zj1-five">
                <div class="zj1-six"><img src="{IMG_PATH}aoli-img/1/zj1-6.png">
                    <div class="zj1-sixwz">你的位置：<a href="">首页 > 关于我们</a></div>
                </div>
                    <div class="zj1-seven">
        {pc:content  action="lists" catid="26" moreinfo="1"}
                {$content}
                    </div>
            </div>
        {/pc}
            </div>
        </div>
    </div>

{template "content","footer"}