{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}aoli-css/gongsi.css">

    <div class="zj1-bigbox">
        <div class="zj1-box">
            <div class="zj1-one">
                <div class="zj1-two">
                {pc:content  action="category" catid="11" num="2" moreinfo="1"}
                    <div class="zj1-two-1">公司产品 &nbsp;&nbsp;&nbsp;&nbsp;About</div>
                   {loop $data $b}
                        <div class="zj1-two-3"><a href="{$CATEGORYS[26][url]}">傲立体彩</a></div>
                        <div class="zj1-two-4"><a href="{$CATEGORYS[17][url]}">TFi系列产品</a></div>
                    {/loop}
                {/pc}
                </div>

            {pc:content  action="lists" catid="17" order="listorder ASC" num="4"}
                <div class="zj1-three">
                    <div class="zj1-three-1">热门产品 &nbsp;&nbsp;&nbsp;&nbsp;New</div>
                {loop $data $j}
                    <div class="zj1-three-2" style="margin-top:10px">{date("Y-m-d $inputtime")}<br/><a href="{$j[url]}">{str_cut($j['title'],40,"")}</a></div>
                {/loop}
                </div>
            {/pc}

                <div class="zj1-four">
                    <div class="zj1-four-1"><img src="{IMG_PATH}aoli-img/1/zj1-5.png"></div>
                    <div class="zj1-four-2"><input type="text" value="请输入关键词"><span><a href="">搜索</a></span></div>
                </div>
            </div>

            <div class="zj1-five">
                <div class="zj1-six"><img src="{IMG_PATH}aoli-img/1/zj1-6.png">
                    <div class="zj1-sixwz">你的位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">{catpos($catid)}</a></div>
                </div>

        {pc:content  action="lists" catid="17" oeder="listorder ASC" num="4" }
            <div class="zj1-six-right">
            {loop $data $c}
                <div class="zj1-seven" style="margin-left:20px"><a href="{$c[url]}"><img src="{$c[thumb]}"></a></div>
       

            {/loop}
                <div class="zj1-fy">
                    <div class="zj1-fywz">总数：4条  当前页数：1/1 <a href="">首页</a>   上一页 <a href="">1</a>下一页  <a href="">尾页</a> </div>

                </div>
            </div>
         {/pc}


            </div>
        </div>
    </div>

{template "content","footer"}