{template "content","header"}

    <div class="zj1-bigbox">
        <div class="zj1-box">
            <div class="zj1-one">
                <div class="zj1-two">
                    <div class="zj1-two-1">公司动态 &nbsp;&nbsp;&nbsp;&nbsp;Case</div>
                        <div class="zj1-two-2" style="margin-top:9px;"><img src="img/1/zj1-3.png">
                            <div class="zj1-two-3"><a href="">公司动态</a></div>
                        </div>
                        <div class="zj1-two-2"><img src="img/1/zj1-3.png">
                            <div class="zj1-two-3"><a href="">通讯企业案例</a></div>
                        </div>
                        <div class="zj1-two-2"><img src="img/1/zj1-3.png">
                            <div class="zj1-two-3"><a href="">金融企业案例</a></div>
                        </div>
                </div>
                <div class="zj1-three">
                    <div class="zj1-three-1">最新资讯 &nbsp;&nbsp;&nbsp;&nbsp;New</div>
                    <div class="zj1-three-2" style="margin-top:10px">2015/8/26<br/><a href="">法治中国文化艺术研究院在西安</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">服务器维护通知</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">2015年春节放假通知</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">2014中国移动校园活动优秀</a></div>
                    <div class="zj1-three-2">2015/8/26<br/><a href="">中国移动校园活动现场</a></div>
                </div>
                <div class="zj1-four">
                    <div class="zj1-four-1"><img src="img/1/zj1-5.png"></div>
                    <div class="zj1-four-2"><input type="text" value="请输入关键词"><span><a href="">搜索</a></span></div>
                </div>
            </div>

            <div class="zj1-five">
                <div class="zj1-six"><img src="img/1/zj1-6.png">
                    <div class="zj1-sixwz">你的位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">公司动态</a></div>
                </div>

            <div class="zj1-mid-three">
                <ul class="zj1-mid-four">
                    <li><a href="">法治中国文化艺术研究院在西安举办清莲世界书画展</a><span>2015/8/26</span></li>
                    <li><a href="">服务器维护通知</a><span>2015/8/26</span></li>
                    <li><a href="">2015年春节放假通知</a><span>2015/8/26</span></li>
                    <li><a href="">2014中国移动校园活动优秀员工风采</a><span>2015/8/26</span></li>
                    <li><a href="">中国移动校园活动现场</a><span>2015/8/26</span></li>
                    <li><a href="">中国西部国际博览会活动现场</a><span>2015/8/26</span></li>
                    <li><a href="">中国电信西安分公司产业联盟合作发展推进大会现场(二)</a><span>2015/8/26</span></li>
                    <li><a href="">中国电信西安分公司产业联盟合作发展推进大会现场(一)</a><span>2015/8/26</span></li>
                    <li><a href="">陕西交行应用案例</a><span>2015/8/26</span></li>
                    <li><a href="">西安移动应用案例</a><span>2015/8/26</span></li>  
                </ul>
            </div>

                <div class="zj1-fy">
                    <div class="zj1-fywz">总数10条  当前页数：1/1 <a href="">首页</a>   上一页 <a href="">1</a>下一页  <a href="">尾页</a> </div>
                </div>
            </div>
        </div>
    </div>

{template "content","footer"}