{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}aoli-css/dongtai-xq.css">

	<div class="zj1-bigbox">
		<div class="zj1-box">
			<div class="zj1-one">
                <div class="zj1-two">
                    <div class="zj1-two-1">公司动态 &nbsp;&nbsp;&nbsp;&nbsp;Case</div>
                        <div class="zj1-two-2" style="margin-top:9px;"><img src="{IMG_PATH}aoli-img/1/zj1-3.png">
                            <div class="zj1-two-3"><a href="{APP_PATH}/index.php?m=content&c=index&a=lists&catid=21">售后服务</a></div>
                        </div>
                        <div class="zj1-two-2"><img src="{IMG_PATH}aoli-img/1/zj1-3.png">
                            <div class="zj1-two-3"><a href="{APP_PATH}/index.php?m=content&c=index&a=lists&catid=22">下载中心</a></div>
                        </div>
                </div>
				<div class="zj1-three">
					<div class="zj1-three-1">最新资讯 &nbsp;&nbsp;&nbsp;&nbsp;New</div>
					<div class="zj1-three-2" style="margin-top:10px">2015/8/26<br/><a href="">法治中国文化艺术研究院在西安</a></div>
					<div class="zj1-three-2">2015/8/26<br/><a href="">服务器维护通知</a></div>
					<div class="zj1-three-2">2015/8/26<br/><a href="">2015年春节放假通知</a></div>
					<div class="zj1-three-2">2015/8/26<br/><a href="">2014中国移动校园活动优秀</a></div>
					<div class="zj1-three-2">2015/8/26<br/><a href="">中国移动校园活动现场</a></div>
				</div>
				<div class="zj1-four">
					<div class="zj1-four-1"><img src="{IMG_PATH}aoli-img/1/zj1-5.png"></div>
					<div class="zj1-four-2"><input type="text" value="请输入关键词"><span><a href="">搜索</a></span></div>
				</div>
			</div>

			<div class="zj1-five">
				<div class="zj1-six"><img src="{IMG_PATH}aoli-img/1/zj1-6.png">
					<div class="zj1-sixwz">你的位置：<a href="">首页</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">公司动态</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="">{catpos($catid)}</a></div>
				</div>

	{pc:content  action="lists" catid="21" oeder="listorder ASC" num="1" moreinfo="1" }
			<div class="zj1-seven">
			{loop $data $v}
				{$content}
			{/loop}
			</div>
		{/pc}

				<!-- 上下篇翻页 -->
<!-- 				<div class="zj1-fys"><img src="{IMG_PATH}aoli-img/3/xqfy-1.png"><span>上一篇：<a href="">没有啦</a></span> </div>
				<div class="zj1-fys"><img src="{IMG_PATH}aoli-img/3/xqfy-1.png"><span>下一篇：<a href="">《TFI云端管理平台》使用指南 2015/3/9</a></span> </div> -->

		<!-- 	<div class="sx"><img src="{IMG_PATH}aoli-img/3/xqfy-1.png">
                上一篇：<a href="{$previous_page[url]}">{$previous_page[title]}</a><br />
                <img src="{IMG_PATH}aoli-img/3/xqfy-1.png" style="margin-left:-15px;">
                下一篇：<a href="{$next_page[url]}">{$next_page[title]}</a>
			</div> -->




			</div>
		</div>
	</div>














{template "content","footer"}